.header {
	color: white;
	background-color: red;
	text-align: center;
}

#number2 {
	color: blue;
	font-size: 36px;
}

p {
	font-family: Helvetica;
}

.odd {
	background-color: rgb(255, 168, 230);
	font-family: Verdana, DejaVu Sans, sans-serif;"
}