.div1 {
	padding: 20px;
	background-color: pink;
	padding-left: 30px;
	margin: 50px;
	border: 5px;
	border-style: solid;
	border-color: purple;
}

#div2 {
	color: blue;
	font-size: 36px;
}

p {
	font-family: Helvetica;
}

.odd {
	background-color: rgb(255, 168, 230);
	font-family: Verdana, DejaVu Sans, sans-serif;"
}

.div3 {
	font-size: 24px;
}

.div4 {
	background-color: green; font-size: 24px; font-weight: bold;
}



